#menu {
    header {
        background-color: #212121;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }
      img {
          height: 60%;
      }
}


#foodmenu {
    background-color: gray;
    
}

#drinks, #brunch, #smallPlates, #dinner{
    padding-bottom: 100px;
    h3 {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.048);
    }

    .cocktailList, .brunchList, .plateList, .dinnerList {
        margin: auto 250px;
    }

    p {
        font-size: 22px;
        margin-bottom: -5px;
    }

    span {
        font-size: 13px;
        color: gray;
        font-style: italic;
    }

    
}

