#openForMusic {
    background-image: url('images/wood_texture.jpg');
    background-size: cover;
    padding-bottom: 75px;
    padding-top: 25px;

    .flex-container {
        display: flex;
        justify-content: center;

    }

    img {
        width: 40%;
        height: 100%;
        margin: 20px auto;
        align-self: center;
    }

    p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin: 25px 150px;
        text-align: center;
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 46%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
        
    }

    div.description {
        // background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 46%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        // background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 46%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        // background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 46%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
        
    }
}